{% extends "base.html" %}

{% block body %}
    {% for event in events %}
        <div>
            <a class="datetime" href="?id={{ event['event']['id'] }}">{{ event['datetime'] }}</a>
                -
                <a href="{{ event['event']['mp3_url'] }}" target="_blank" rel="noopener noreferrer">{{ 'mp3'|c('#1b88b3') }}</a>
        </div>


        <div class="responding">
            <div>
                {% if event['full_address'] %}
                    <a class="address" href="{{ event['gmaps_url'] }}" target="_blank" rel="noopener noreferrer">{{ event['full_address']|c(event['vip_word_color']) }}</a>
                {% elif event['event']['town'] %}
                    {{ event['event']['town']|c(event['vip_word_color']) }}
                {% elif event.address %}
                    {{ event.address|c('') }}
                {% endif %}
            </div>
                {% for responding in event['responding'] %}
                    <div style="white-space: nowrap">
                        - <a href="?station={{ responding }}">{{ responding|station_highlight }}</a>
                    </div>
                {% endfor %}
        </div>

        <div class="transcription">
            {{ event['transcription']|highlight(event['event']['symptom']) }}
        </div>

        <div>
        </div>

        <div>-------------</div>
    {% endfor %}
{% endblock %}