<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            body {
                background-color: #262626;
                font-family: monospace;
                color: #cccccc;
            }
            a {
                color: #3c99cf;
            }
        </style>
    <head>
    <body>
        {% for event in events %}
            <div style="white-space: nowrap">
                {{ event['datetime']|c('#a47fd4') }} - {{ event['responding']|c(event['station_color']) }} - <a href="{{ event['event']['mp3_url'] }}">mp3</a>
            </div>

            <div>
                {% if event['full_address'] %}
                    <a href="{{ event['gmaps_url'] }}">{{ event['full_address']|c(event['vip_word_color']) }}</a>
                {% elif event['event']['town'] %}
                    {{ event['event']['town']|c(event['vip_word_color']) }}
                {% elif event.address %}
                    {{ event.address|c(event['vip_word_color']) }}
                {% endif %}
            </div>
            <div>
                {{ event['transcription']|highlight(event['event']['symptom']) }}
            </div>
            <div style="margin-bottom: 1em; margin-top: 1em;">-------------</div>
        {% endfor %}
    </body>
</html>