accelerate==0.20.3
aiohttp==3.8.4
aiosignal==1.3.1
alembic==1.8.0
astroid==3.0.1
asttokens==2.0.5
async-timeout==4.0.2
attrs==23.1.0
av==10.0.0
backcall==0.2.0
banal==1.0.6
beautifulsoup4==4.11.1
boto3==1.26.151
botocore==1.29.151
bpemb==0.3.4
cachetools==5.2.0
certifi==2023.7.22
charset-normalizer==2.0.12
cloudpickle==2.2.1
cmake==3.26.4
coloredlogs==15.0.1
conllu==4.5.2
contourpy==1.0.7
ctranslate2==3.20.0
cycler==0.11.0
dataset==1.6.2
datasets==2.12.0
decorator==5.1.1
Deprecated==1.2.14
dill==0.3.6
exceptiongroup==1.1.3
executing==0.8.3
faster-whisper==0.9.0
filelock==3.12.0
flair==0.12.2
flake8==4.0.1
flatbuffers==23.5.26
fonttools==4.40.0
frozenlist==1.3.3
fsspec==2023.5.0
ftfy==6.1.1
future==0.18.3
gdown==4.4.0
gensim==4.3.1
geographiclib==1.52
geojson==2.5.0
geopy==2.2.0
google-api-core==2.8.2
google-api-python-client==2.51.0
google-auth==2.8.0
google-auth-httplib2==0.1.0
googleapis-common-protos==1.56.3
greenlet==1.1.2
httplib2==0.20.4
huggingface-hub==0.15.1
humanfriendly==10.0
hyperopt==0.2.7
idna==3.3
imgurpython==1.1.7
importlib-resources==5.12.0
ipdb==0.13.13
ipython==8.16.1
isort==5.10.1
Janome==0.4.2
jedi==0.18.1
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.2.0
kiwisolver==1.4.4
langdetect==1.0.9
lazy-object-proxy==1.7.1
lit==16.0.5.post0
lxml==4.9.2
Mako==1.2.0
MarkupSafe==2.1.1
matplotlib==3.7.1
matplotlib-inline==0.1.3
mccabe==0.6.1
more-itertools==9.1.0
mpld3==0.3
mpmath==1.3.0
multidict==6.0.4
multiprocess==0.70.14
networkx==3.1
numpy==1.24.3
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.2.10.91
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusparse-cu11==11.7.4.91
nvidia-nccl-cu11==2.14.3
nvidia-nvtx-cu11==11.7.91
oauth2client==4.1.3
oauthlib==3.2.0
onnxruntime==1.15.0
packaging==23.1
pandas==2.0.2
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.5.0
pipdeptree==2.13.0
platformdirs==2.5.2
pptree==3.1
prompt-toolkit==3.0.30
protobuf==3.20.3
psutil==5.9.5
ptyprocess==0.7.0
pure-eval==0.2.2
py4j==0.10.9.7
pyarrow==12.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.8.0
pyflakes==2.4.0
Pygments==2.12.0
pylint==3.0.2
pyowm==3.3.0
pyparsing==3.0.9
PySocks==1.7.1
python-dateutil==2.8.2
pytorch_revgrad==0.2.0
pytz==2023.3.post1
PyYAML==6.0
regex==2023.6.3
requests==2.28.0
requests-oauthlib==1.3.1
responses==0.18.0
rsa==4.8
s3transfer==0.6.1
safetensors==0.3.1
scikit-learn==1.2.2
scipy==1.10.1
segtok==1.5.11
sentencepiece==0.1.99
six==1.16.0
smart-open==6.3.0
snscrape==0.7.0.20230622
soupsieve==2.3.2.post1
SQLAlchemy==1.4.39
sqlitedict==2.1.0
stack-data==0.3.0
sympy==1.12
tabulate==0.9.0
threadpoolctl==3.1.0
tokenizers==0.13.3
toml==0.10.2
tomli==2.0.1
tomlkit==0.11.0
torch==2.0.1
tqdm==4.65.0
traitlets==5.3.0
transformer-smaller-training-vocab==0.2.4
transformers==4.30.1
triton==2.0.0
tweepy==4.10.0
typing_extensions==4.2.0
tzdata==2023.3
uritemplate==4.1.1
urllib3==1.26.9
wcwidth==0.2.5
Wikipedia-API==0.5.8
wrapt==1.14.1
xxhash==3.2.0
yarl==1.9.2
zipp==3.15.0
