Mako==0.9.1
MarkupSafe==0.19
PyYAML==3.10
SQLAlchemy==0.9.3
Unidecode==0.04.14
alembic==0.6.3
argparse==1.2.1
dataset==0.5.2
geopy==0.98.2
ipdb==0.8
ipython==1.2.1
python-forecastio==0.1
python-slugify==0.0.7
pytz==2014.1.1
requests==2.2.1
simplejson==3.3.3
six==1.5.2
wsgiref==0.1.2
